* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    color: #343a40ff;
    text-align: center;
}

header {
    padding: .5em;
    margin: 0;
    background-color: #dee2e6ff;
}

header > h1 {
    font-size: 5em;
}

header > h2 {
    font-size: 2em;
    font-weight: 200;
}