* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Noto Serif', serif;
    text-align: center;
}

header > h1 {
    font-size: 3em;
}

header > h2 {
    font-size: 1em;
    font-weight: 200;
}

.main {
    text-align: left;
    width: 100%;
}

button {
    padding: 1em;
}